---
title: "Publication"
layout: default
excerpt: "Publications."
sitemap: false
permalink: /publications/
---

<h1>{{page.title}}</h1>

<div class="panel-group" id="accordion">
    <div>

    <h2>Selected publications [{{ site.data.selectedjournals | size }}]</h2>
    {% for publi in site.data.selectedjournals %}
        <div>
            <strong>[{{ forloop.index }}]</strong> {{publi.title}}
        </div>
    {% endfor %}

    <hr/>
    
    <h2>Journal and pre-print [{{ site.data.journals | size }}]</h2>
    {% for publi in site.data.journals %}
        <div>
            <strong>[{{ forloop.index }}]</strong> {{publi.title}}
        </div>
    
    {% endfor %}

    <hr/>

    <h2>Conference [{{ site.data.conferences | size }}]</h2>
    {% for publi in site.data.conferences %}
        <div>
            <strong>[{{ forloop.index }}]</strong> {{publi.title}}
        </div>
    {% endfor %}
    </div>
</div>