---
title: "Publications"
layout: default
excerpt: "Publications."
sitemap: false
permalink: /publications/
---

<h1>{{page.title}}</h1>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">

    <h2>Selected publications [{{ site.data.selectedjournals | size }}]</h2>
    {% for publi in site.data.selectedjournals %}
        <strong>[{{publi.order}}]</strong> {{publi.title}}
        
    {% endfor %}

    <h2>Journal [{{ site.data.journals | size }}]</h2>
    {% for publi in site.data.journals %}
        <strong>[{{publi.order}}]</strong> {{publi.title}}
    {% endfor %}
    <h2>Conference [{{ site.data.conferences | size }}]</h2>
    {% for publi in site.data.conferences %}
        <strong>[{{publi.order}}]</strong> {{publi.title}}
    {% endfor %}
    </div>
</div>