---
title: "Publications"
layout: default
excerpt: "Publications."
sitemap: false
permalink: /publications/
---

<h1>{{page.title}}</h1>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
    <h2>Journal [{{ site.data.journals | size }}]</h2>
    {% for publi in site.data.journals %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.index}}"
               style="color: inherit;">
            <strong>[{{publi.order}}]</strong> {{publi.title}}
            </a>
        </div>
    
    {% endfor %}
    <h2>Conference [{{ site.data.conferences | size }}]</h2>
    {% for publi in site.data.conferences %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.index}}"
               style="color: inherit;">
            <strong>[{{publi.order}}]</strong> {{publi.title}}
            </a>
        </div>
    {% endfor %}
    </div>
</div>