<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">
      <div class="col-sm-12">
        <div class="row">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']]
        },
        svg: { fontCache: 'global' }
      };

      function convertKramdownMath() {
        var scripts = document.querySelectorAll('script[type^="math/tex"]');
        scripts.forEach(function(node) {
          var isDisplay = !!node.type.match(/; *mode=display/);
          var mathText = node.textContent;
          var textNode = document.createTextNode(isDisplay ? '$$' + mathText + '$$' : '$' + mathText + '$');
          node.parentNode.replaceChild(textNode, node);
        });
        if (window.MathJax && window.MathJax.typeset) {
          window.MathJax.typeset();
        }
      }

      if (document.readyState === "complete" || document.readyState === "interactive") {
        convertKramdownMath();
      } else {
        document.addEventListener("DOMContentLoaded", convertKramdownMath);
      }
    </script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
  </body>

</html>
