<!DOCTYPE html>
<html>
{% include head.html %}
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/fantasy.css">

<body class="fantasy-theme">
    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

    <!-- Background Particles or Effects container could go here -->
    <div
        style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; pointer-events: none; background-image: radial-gradient(circle at 10% 10%, rgba(188, 19, 254, 0.05) 0%, transparent 20%), radial-gradient(circle at 90% 90%, rgba(0, 243, 255, 0.05) 0%, transparent 20%);">
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.url }}{{ site.baseurl }}/js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
</body>

</html>